/* Feuille de style */

body {
  margin: 0;
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.logo img {
  width: 439px;
}

.img {
  width: 57px;
  height: 57px;

}

a {
  color: black;
}

p {
  text-align: center;
}

.row {
  max-width: 1300px;


}

.col {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
}

.EspaceDesNounous
{
  display: flex;
  justify-content:space-between;
  flex-direction: row; 
  color: #935df0;
  border-style: solid;
  box-shadow: 5px;
  width: 80%;
  height: 80%;
  align-items: center;
  justify-content: center;
}


.carteNounours {
  display: inline-flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column; 
  color:red;
  border-style: solid;
  box-shadow: 5px;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.imageDuNounours {
  height: 200px;
  border: 5px solid;
  border-color: gold;
}

.descriptionDuNounours{
  color: black;
}

.objetNounours{
  height: 300px;
}

/* .EspaceDesNounous {
 width: 500px;
} */

H2 {
  color: green;
}